.SearchArea {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin-bottom: 14px;
}

.AllBeer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    align-items: center;
}

@media (max-width: 425px) {
    .SearchArea {
        padding: 16px;
    }
    .AllBeer {
        padding: 16px;
    }
    .BeerSearch__badSearch {
        padding: 16px;
    }
}

.TitlePage {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8px;
}

.BeerSearch__badSearch {
    margin-top: 16px;
    padding: 16px;
}

.BeerSearch__loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 65px;
    height: 65px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
